<% page.posts.each(function(post){ %>
<div class="content">
  <h2>
    <a href="<%- url_for(post.path) %>">
      <%= post.title %>
    </a>
  </h2>
  <% if (post.excerpt){ %>
  <%- post.excerpt %>
  <p class="more">
    <a href="<%- url_for(post.path) %>">
      阅读剩余部分...
    </a>
  </p>
  <% } else { %>
  <%- post.content %>
  <% } %>
</div>
<% }) %>

<% if (page.total > 1){ %>
<ol class="page-navigator">
  <% if (page.current > 1) { %>
  <li><a href="<%- url_for(page.prev_link) %>" class="pure-button">&laquo;</a></li>
  <% } %>
  <% if (page.current === 1) { %>
  <li><a href="/" class="pure-button pure-button-disabled">1</a></li>
  <% } else { %>
  <li><a href="/" class="pure-button">1</a></li>
  <% } %>
  <% for (var i = 2; i <= page.total; i++) { %>
  <% if (i === page.current) { %>
  <li><a href="/page/<%= i %>/" class="pure-button pure-button-disabled"><%= i %></a></li>
  <% } else { %>
  <li><a href="/page/<%= i %>/" class="pure-button"><%= i %></a></li>
  <% } %>
  <% } %>
  <% if (page.next_link) { %>
  <li><a href="<%- url_for(page.next_link) %>" class="pure-button">&raquo;</a></li>
  <% } %>
</ol>
<% } %>
