<div class="content">
  <h2>
    <%= page.title %>
  </h2>
  <%- page.content %>
</div>

<% var list = comments(page.slug) %>
<% if (list && list.length) { %>
<div id="comments">
  <h2>早期评论</h2>
  <ul>
  <% for (var i = 0; i < list.length; i++) { %>
    <li id="comment-<%- list[i].id %>" style="margin-left: <%- Math.min(list[i].indent, 2) * 2 %>em;">
      <p>
        <strong><% if (list[i].url) { %>
        <a href="<%= list[i].url %>" target="_blank" title="<%= list[i].author %>"><%= list[i].author %></a>
        <% } else { %>
        <%= list[i].author %>
        <% } %>
        </strong>
        <small><%= list[i].created %></small></p>
      <%- list[i].text %>
    </li>
  <% } %>
  </ul>
</div>
<% } %>
